<div class="vertical-center">
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div style="border-radius: 20px;" class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h3 text-gray-900 mb-2">คุณลืมรหัสผ่านของคุณใช่ไหม?</h1>
                    <p class="mb-4">เราเข้าใจแล้วเกิดอะไรขึ้น เพียงป้อนที่อยู่อีเมลของคุณด้านล่างและเราจะส่งลิงก์เพื่อรีเซ็ตรหัสผ่านของคุณ!</p>
                  </div>
                  <form class="user" action="javascript:void(0)" onsubmit="resetpass()">
                    <div class="form-group">
                      <input type="email" class="form-control form-control-user" id="reset-password" aria-describedby="emailHelp" placeholder="กรอกอีเมล์ของคุณ..." autocomplete="off" required>
                    </div>
                    <hr>
                    <span id="alert-respose"></span>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      รีเซ็ตรหัสผ่าน
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="#" onclick="LoadPage({typedata:'register'})"><b>สมัครสมาชิค</b></a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#" onclick="LoadPage({typedata:'login'})"><b>คุณเป็นสมาชิคอยู่เเล้ว? เข้าสู่ระบบ!</b></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>